# =====================================================
# Application
# =====================================================
APPLICATION_NAME=AMS Incident Agent
APPLICATION_VERSION=1.0.0
ENVIRONMENT=DEV

# =====================================================
# Server
# =====================================================
HOST=0.0.0.0
PORT=8001

# =====================================================
# Groq
# =====================================================
GROQ_API_KEY=<your_groq_api_key>
GROQ_MODEL=llama-3.3-70b-versatile
